:root {
    --bg-color: #282828;
    --text-color: #ebdbb2;
    --accent-color: #689d6a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

#container > div {
    background-color: var(--bg-color);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 5%;
}

#search > h1 {
    font-size: 112px;
    font-family: 'Roboto Condensed', sans-serif;
}

#search > input {
    font-size: 24px;
    font-family: 'Source Sans Pro', serif;
    border: 0;
    border-bottom: 1px solid var(--text-color);
    outline: 0;
    background: 0 0;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    color: var(--text-color);
    padding-bottom: 2px;
    letter-spacing: 1px;
}

#search > img {
    width: 5%;
    height: 5%;
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.border {
    border: 3px solid var(--accent-color);
}